[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
[submodule "deps/phnt"]
	path = deps/phnt
	url = https://github.com/processhacker/phnt
[submodule "deps/sdl2"]
	path = deps/sdl2
	url = https://github.com/libsdl-org/sdl.git
