<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="0">
  <!-- Version "1" is supported by March 2022 GDK or later -->

  <Identity Name="@PURPL_GAME_NAME@"
            Publisher="CN=@PURPL_GAME_PUBLISHER@"
            Version="1.0.0.0"/>

  <ExecutableList>
    <Executable Name="launcher.exe"
                Id="Game" />
  </ExecutableList>

  <ShellVisuals DefaultDisplayName="@PURPL_GAME_DISPLAY_NAME@"
                PublisherDisplayName="@PURPL_GAME_PUBLISHER@"
                Square480x480Logo="LargeLogo.png"
                Square150x150Logo="Logo.png"
                Square44x44Logo="SmallLogo.png"
                Description="@PURPL_GAME_DESCRIPTION@"
                ForegroundText="dark"
                BackgroundColor="#000000"
                SplashScreenImage="SplashScreen.png"
                StoreLogo="StoreLogo.png"/>

</Game>
