<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="1">

	<Identity Name="${PURPL_GAME_NAME}"
		  Publisher="CN=${PURPL_GAME_PUBLISHER}"
		  Version="${PURPL_GAME_VERSION}"/>

	<TitleId>${PURPL_GAME_XBOX_TITLEID}</TitleId>
	<StoreId>${PURPL_GAME_XBOX_STOREID}</StoreId>
	<MSAAppId>${PURPL_GAME_XBOX_MSAID}</MSAAppId>

	<ExecutableList>
		<Executable Name="bin\$<TARGET_FILE_NAME:launcher>"
			    TargetDeviceFamily="${PURPL_GAME_XBOX_TARGET}"
			    Id="Game" />
	</ExecutableList>

	<ShellVisuals DefaultDisplayName="${PURPL_GAME_DISPLAY_NAME}"
		      PublisherDisplayName="${PURPL_GAME_PUBLISHER_NAME}"
		      Square480x480Logo="LargeLogo.png"
		      Square150x150Logo="Logo.png"
		      Square44x44Logo="SmallLogo.png"
		      Description="${PURPL_GAME_DESCRIPTION}"
		      ForegroundText="dark"
		      BackgroundColor="#000000"
		      SplashScreenImage="SplashScreen.png"
		      StoreLogo="StoreLogo.png"/>

</Game>
